<ion-view title="ToscanaTrails">
    <ion-content class="padding">
<!--         <leaflet center="london" width="640" height="400"></leaflet> -->
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i>
                Torna a casa
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios7-telephone"></i>
                Chiama la zia
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-wifi"></i>
                Spara raggiogammi
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                Scarica il modulo INPS
            </a>
        </div>
    </ion-content>
</ion-view>
