<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only" style="visibility: none">


  <!-- Home Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Loc Funtion -->
  <ion-tab title="Loc" icon="icon ion-location" href="#/tab/loc">
    <ion-nav-view name="tab-loc"></ion-nav-view>
  </ion-tab>

  <!-- ? Tab -->
  <ion-tab title="Pin" icon="icon ion-pin" href="#/tab/pin">
    <ion-nav-view name="tab-pin"></ion-nav-view>
  </ion-tab>

  <!-- ? Tab -->
  <ion-tab title="Help" icon="icon ion-help-buoy" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>  

</ion-tabs>
